{% extends '_base.html' %}

{% block title %}Bad Request{% endblock %}

{% block header %}
<header class="masthead" style="background-image: none !important;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1>400</h1>
					<span class="subheading">Malformed request</span>
					<span class="meta">
						Something was wrong with the request you attempted. Please go back and try again.
					</span>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				Press the back button and try again. 
			</div>
		</div>
	</div>
</article>
{% endblock %}