{% extends '_base.html' %}

{% block title %}Permission Denied{% endblock %}

{% block header %}
<header class="masthead" style="background-image: none !important;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1>403</h1>
					<span class="subheading">Nope.avi</span>
					<span class="meta">
						Permission denied here my dude, only authorized people here.
					</span>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				Just leave this page?
			</div>
		</div>
	</div>
</article>
{% endblock %}