{% extends '_base.html' %}

{% block title %}Not Found{% endblock %}

{% block header %}
<header class="masthead" style="background-image: none !important;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1>404</h1>
					<span class="subheading">This page doesn't exist</span>
					<span class="meta">
						This page has either never existed or doesn't any longer.
					</span>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				Press the back button to go back to the page you were in before.
			</div>
		</div>
	</div>
</article>
{% endblock %}