{% extends '_base.html' %}

{% block title %}Server Error{% endblock %}

{% block header %}
<header class="masthead" style="background-image: none !important;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="site-heading">
					<h1>500</h1>
					<span class="subheading">Server Error?!??@??!?</span>
					<span class="meta">
						ngin.....x is broken or something is broken - we're looking into it.
					</span>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}
<article>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				There's nothing you can really do, but wait. 
			</div>
		</div>
	</div>
</article>
{% endblock %}