{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>{{ BLOG_TITLE }} {% block title %}{% endblock %}</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
		<!-- Import our custom css -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/clean-blog.min.css' %}">

		<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
			<div class="container">
				<!-- <a class="navbar-brand" href="{% url 'home' %}">{{ BLOG_TITLE }}</a> -->
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fa fa-bars"></i></button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						{% include 'navigation.html' %}
					</ul>
				</div>
			</div>
		</nav>

		<!-- Header -->	
		{% block header %}
		<header class="masthead">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto">
						<div class="site-heading">
							<h1>{{ BLOG_TITLE }}</h1>
							<span class="subheading">{{ BLOG_DESC }}</span>
						</div>
					</div>
				</div>
			</div>
		</header>
		{% endblock %}

		<!-- Content -->
		{% block content %}{% endblock %}
		<hr />

		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto">
						<ul class="list-inline text-center">
							{% include 'footer.html' %}
						</ul>
						<p class="copyright text-muted">
							<a class="logo" href="{% static 'copyright.txt' %}" title="avocado"></a><br />
							Design by <a href="https://startbootstrap.com/template-overviews/clean-blog/">StartBootstrap</a>.
						{% if COPYRIGHT %}<br />{{ COPYRIGHT|safe }}{% endif %}
						</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Import our js -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>