<!-- To hide these icons, just remove the HTML in here -->
{% if TWTTR_LNK %}
<li class="list-inline-item">
    <a href="https://twitter.com/{{ TWTTR_LNK|safe }}">
        <span class="fab fa-twitter fa-lg"></span>
    </a>
</li>
{% endif %}
{% if GITHUB_LNK %}
<li class="list-inline-item">
	<a href="https://github.com/{{ GITHUB_LNK|safe }}">
		<span class="fab fa-github fa-lg"></span>
	</a>
</li>
{% endif %}
{% if FB_LNK %}
<li class="list-inline-item">
	<a href="https://facebook.com/{{ FB_LNK|safe }}">
		<span class="fab fa-facebook fa-lg"></span>
	</a>
</li>
{% endif %}
{% if REDDIT_LNK %}
<li class="list-inline-item">
	<a href="https://reddit.com/u/{{ REDDIT_LNK }}">
		<span class="fab fa-reddit fa-lg"></span>
	</a>
</li>
{% endif %}