{% if is_paginated %}
<div class="clearfix">
{% if page_obj.has_other_pages %}
	{% if page_obj.has_next %}
	<a class="btn btn-secondary float-right" href="?page={{ page_obj.next_page_number }}">Older Posts <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
	{% endif %}
	{% if page_obj.has_previous %}
	<a class="btn btn-secondary float-left" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Newer Posts</a>
	{% endif %}
{% endif %}
</div>
{% endif %}