<!-- Blog Entries -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			{% for post in posts %}
			<div class="post-preview">
				<a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
					<h2 class="post-title">{{ post.title }}</h2>
				</a>
				<h3 class="post-subtitle">{{ post.body|safe|truncatewords_html:10 }}</h3>
				<p class="post-meta">
					Posted by {{ post.author }} on <em>{{ post.created }}</em> in <a href="{{ post.get_category_url }}">{{ post.category }}</a>
				</p>
			</div>
			{% endfor %}
			<!-- Pagination -->
			{% include 'pagination.html' with base_path='' %}
		</div>
	</div>
</div>
